@{
    ViewData["Title"] = "Home Page";
}


<div class="limiter">
    <div class="container-login100" style="background-image: url('images/b3.jpg');">

        <div class="position">
            <div class="login100-form-avatar">
                <img src="images/avatar-user.jpeg" alt="AVATAR">
            </div>
        </div>
        <span class="login100-form-title p-t-20 p-b-45">
            Aguiar Pay
            <BR>
            Dashboard Admin
        </span>

        <div class="wrapper">
            <button type="submit" value="#"> + Produtos</button>
            <a href="Cadastro.html">
                <button>  + Funcionários</button>
            </a>
            <button>Comandas</button>
        </div>

    </div>
</div>
